node_modules/
dist/
source/
public/assets/
references/
__pycache__/
.DS_Store
blender/*.blend1
blender/*.blend2

artifacts/
blender/
*.iso
*.ISO
*.rcf
*.RCF
*.p3d
*.rsd
*.rmv
.env
.env.*
!.env.example
